<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<div class="container-fluid">
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>

   <div class="text-left">
    <img src="Assets/images/D 290021.jpg" width="100" class="rounded-circle">
</div>
   <p>Hi I'm Ramin Beiramzadegan and this is my third semester in centennial college I'm an international student
      from iran and I have experience working with Python, javascript and C# and other front end tools. 
    </p>
    <p>click <a href="Assets/pdf/Resume.pdf" > here</a> to download my resume</p>
    <div class="ExternalFiles">
   <iframe id="pdf" src="Assets/pdf/Resume.pdf" width="500" height="500"></iframe>
   </div>       
 </div>

 <%- include('partials/bottom_nav'); -%>
 <%- include('partials/footer'); -%>

