<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

  
 

 <!-- <div class = "home_main">
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>This is our Home Page</p>
<img src ="Assets\images\logo.png" alt="demo">
<br>
<a href = "/about"><button type="button" class="btn btn-dark">About me</button></a>

</div>
 --> 

 <div class="container" id="backgrnd">
  <div class="row">
     <div class="col-sm" id="info">
        <h1><%= title %></h1>
        <p>Welcome to my page</p>
        <p>I'm Mona, and I'm studing software engineering technician</p>
        <p>and I'm on my thirth semester</p>
        <p>This page is about a web developer company that shows its products </p>
     <p>Contact us using the following details: 
       <br>
       <a href="https://docs.google.com/document/d/1NjteL48PJC76vDtT3dbolb01z9baqU1GQILi0eLnKYw/edit"><b>Resume</b></a>
     
        <br>
        <b>Phone Number:437-988-3059. <br>mona.rajabifard@gmail.com</b></p>
       
     </div>
     <div class="col-sm" id="picpos">  <img id="pic"  src ="Assets\images\Pict-Mona.jpg" alt="demo" width="140px" height="140px"></div>
          

     </div>

  </div>

    
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>