<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<div class="col-6 "></div>
<div class="col-6  container-fluid">
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>Contact us using the following details: 
   <br><b>Phone Number:514-577-6484. 
      <br>Email:Zafre.bahrami@gmail.com</b></p>
       <form method="get" action="/home">
         <div class="form-group">
           <label for="fname">First Name</label>
           <input type="text" class="form-control" id="fname" placeholder="Enter first name" required>
         </div>
         <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname"  placeholder="Enter last name" required>
          </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
         <div class="form-group">
           <label for="message">message</label>
           <textarea rows="5" cols="50" class="form-control" id="message" placeholder="message"></textarea> 
         </div>
  
         <button type="submit" class="btn text-right  btn-primary">Submit</button>
       </form>
       </div>
       <div class="col-6 "></div>
       <%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>
