<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<div class="container-fluid">
  <h1><%= title %></h1>
   <p>Welcome to My Portfolio </p>
<p>for more information follow the <a href="/about">here</a></p>
</div>
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>
  




