<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


 <!-- <div class = "home_main">
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>This is our Home Page</p>
<img src ="Assets\images\logo.png" alt="demo">
<br>
<a href = "/about"><button type="button" class="btn btn-dark">About me</button></a>

</div>
 --> 

 <div class="container" id="backgrnd">
  <div class="row">
     <div class="col-sm" id="info">
        <h1><%= title %></h1>
        <p>Welcome to my portfolio</p>
        <p>I hope you will find it interesting</p>
     <p>Contact us using the following details: 
        <br>
        <b>Phone Number:437-988-3059. <br>mona.rajabifard@gmail.com</b></p>
        <a href = "/about"><button type="button" class="btn btn-dark">About me</button></a>
        <a href = "/services"><button type="button" class="btn btn-dark">Services</button></a>
        <a href = "/products"><button type="button" class="btn btn-dark">Products</button></a>
        <a href = "/contact"><button type="button" class="btn btn-dark">Contact</button></a>
     </div>
    
     </div>

  </div>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

