<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<h1 class="container p-3 my-3 text-center "><%= title %></h1>
<div class = "container">
   <div class="row">
      <div class="col-sm" id="pro2">
         <h1 class="container p-3 my-3 text-center ">Environment</h1>
         <img src ="Assets\images\OIP.jpg" alt="demo" class="rounded-circle" >
         <p class="container p-3 my-3 text-center "><b>The Environment shows all donatins for the environmant</b></p>
      </div>
      <div class="col-sm" id="pro2">
         <h1 class="container p-3 my-3 text-center ">Hospital</h1>
         <img src ="Assets\images\hh.JPG" alt="Avatar" class="rounded-circle">
         <p class="container p-3 my-3 text-center "><b>The Hospital product provides all the payments for the patients</b></p>
      </div>
      <div class="col-sm" id="pro2">
         <h1 class="container p-3 my-3 text-center ">Telecomm</h1>
         <img src ="Assets\images\tt.jpg" alt="demo" class="rounded-circle" width="300" height="300">
         <p class="container p-3 my-3 text-center "><b>Our product provides an HR application for the employees</b></p>
      </div>
   </div>

</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


