<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<h1 class="container-fluid text-center text-white" id="tbl"><%= title %></h1>
<br>
<br>
<!-- <p>Welcome to <%= title %></p>-->
 <p class="container-fluid text-center text-dark text-capitalize" id="tbl">The company has three services for its employees    </p>


 
        <table  class="container-fluid text-center text-white" id="tbl">
            <tr>
             
                <th><i>Yuga</i></th>
                <th><i>Masssage</i></th>
                <th><i>Music</i></th>
            </tr>
            <tr>
                <td style="font-weight:bold">Available on weekends
                <br> <img class="img-fluid" id="pic" src ="Assets\images\dd.jpg" alt="demo" width="140px" height="140px"></td>
                <td style="font-weight:bold">Mondat - Wednesday
                <br> <img class="img-fluid" id="pic" src ="Assets\images\33.jpg" alt="demo" width="140px" height="140px"> </td>
                <td style="font-weight:bold">Saturdays
                <br>  <img class="img-fluid" id="pic" src ="Assets\images\44.jpg" alt="demo" width="140px" height="140px"></td>
            </tr>
            <tr>
                <td>Including breath control, simple meditation,<br> and the adoption of specific bodily postures</td>
                <td>Reducing stress and increasing relaxation.<br>Reducing pain and muscle soreness and tension.</td>
                <td>Research has shown that listening to music<br> can reduce anxietyblood pressure, and pain as <br>well as improve sleep quality<br>mood, mental alertness, and memory.</td>
            </tr>
            
        </table>
 




   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


