<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  
  <div class="container-fluid">
   <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>The services that I offer are listed below:</p>
<li>
   programming C#
</li>
<li>
   java script
</li>
<li>
   python
</li>
   <li>
   Django
   </li>
   <li>Kivy</li>
   <li>Data analyst</li>
   <li>Oracle operator</li>
  </div>

  <%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

