<%-include ('../partials/header.ejs');%>
<%-include ('../partials/main_nav.ejs');%>


<main class="container">

    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
                <%= title %>
            </h1>
         <a href="/contactlist/add" class="btn btn-primary" role="button"><i class="fas fa-plus-circle"></i>Add a contact</a>
         <br>
         
         <table class="table.table-bordered table-striped table-hover" id="customers">
             <tr>
                 <th class="text-content col-2">Contact-name</th>
                 <th class="text-content col-2">Email</th>
                
                 <th class="text-content col-1">Contact Number</th>
             </tr>
             <%for(let count =0; count <contactList.length; count++){%>
                 <tr>
                     <td class = "text-center col-2"><%=contactList[count].cname%></td>
                     <td class = "text-center col-2"><%=contactList[count].email%></td>
                     <td class = "text-center col-1"><%=contactList[count].cnumber%></td>
                     <td class="text-center col-1"><a href="/contactlist/edit/<%=contactList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil alt"></i>Edit</a></td>
                     <td class="text-center col-1"><a href="/contactlist/delete/<%=contactList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash alt"></i>Delete</a></td>
                 </tr>
                 <%}%>
         </table>
        
     </div>

 </div>
</div>
</main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>