<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>


<main class="container">

 <div class="row">
     <div class="col-md-offset-3 col md-8">
         <h1><%= title %></h1>
         <a href="/contactlist/add" class="btn btn-primary" role="button"><i class="fas fa-plus-circle"></i>Add a contact</a>
         <br>
         
         <table class="table.table-bordered table-striped table-hover" id="customers">
             <tr>
                 <th class="text-content col-2">Contact-name</th>
                 <th class="text-content col-2">Email</th>
                
                 <th class="text-content col-1">Contact Number</th>
             </tr>
             <%for(let count =0; count <contactList.length; count++){%>
                 <tr>
                     <td class = "text-center col-2"><%=contactList[count].cname%></td>
                     <td class = "text-center col-2"><%=contactList[count].email%></td>
                     <td class = "text-center col-1"><%=contactList[count].cnumber%></td>
                     <td class="text-center col-1"><a href="/contactlist/edit/<%=contactList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil alt"></i>Edit</a></td>
                     <td class="text-center col-1"><a href="/contactlist/delete/<%=contactList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash alt"></i>Delete</a></td>
                 </tr>
                 <%}%>
         </table>
        
     </div>

 </div>

</main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>